
        .part1{
            border:solid 1px black;
            padding: 5px;
        }
        .tabpart1{
            text-align: center;
            margin-right: auto;
            margin-left: auto;
            padding-top: 0px;
        }
        .date{
            text-align: left;
            font-size: 12px;
        }
        .sign{
            text-align: right;
            font-size: 12px;
            padding-top: 5px;
        }
        .headpart{
            text-align: center;
        }

        .councilLogo {
            display: block;
            width: 100px;
            height: 70px;
            object-fit: contain;
            float: left;
            margin-right: 18px;
        }

        .councilLocalNameHeader{
            border-radius:100px ;
            width: 280px;
            height: 40px;
            font-size: 26px;
            background-color: #800020;
            color: white;
            padding: 5px;
            margin-top: 15px;
        }
        .table1{
            border:solid black 1px black;

            margin: auto;
        }
        .middlehead{
            font-size: 14px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        .lasthead{
            font-size: 14px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        .para{
            font-size: 16px;
            font-weight: bold;
        }
        .tab1{
            text-align: center;
            font-size: 16px;
        }
        .num{
            text-align: center;
        }
        .formpart1{
            margin-right: 30px;
            margin-left: 30px;
            margin-top: 8px;
            margin-bottom: 8px;
            padding-top: 0px;
        }
        .row{
            text-align: center;
            font-size: 12px;
            }
        .col{
            border-right: 1px solid black;
            height: 30px;
            right: 50%;
        }
        .tab{
            table-layout: fixed;
              width: 80px;
        }
        .execl{
            text-align: center;
            margin:20px;
            table-layout: fixed;
              width: 180px;
              background-color: #b2ffff;
            text-align: center;
        }
        .table2{
            border: 1px black;
            width: 400px;
            margin-top: 6px;
            font-size: 12px !important;
        }
        .sky{
            background-color: #7df9ff;
            width: 60px;
        }
        .light{
            background-color: #b2ffff;
            text-align: left;
        }
        .pinklight{
            background-color: #fdbcb4;
        }
        .dark{
            width: 44px;
            background-color: #b2ffff;
            text-align: center
        }
        .tab12{
            table-layout: auto;
              width: 100px;
        }
        .tab123{
        table-layout: auto;
              width: 120px;
              border:1px solid black;
              border-color: black;
        }
        .tab78{
            width: 70px;
        }
        .para1{
            font-size: 12px;
        }
        .para2{
            font-size: 12px;
        }
        .para3{
            font-size: 12px;
        }
        .para4{
            font-size: 12px;
        }

        table.table-bordered{
            border:1px solid black;

          }
        table.table-bordered > thead > tr > th{
            border:1px solid black;
            font-size: 12px !important;
        }
        table.table-bordered > tbody > tr > td{
            border:1px solid black;
            font-size: 12px !important;
        }

        /* Print in one page */

         @page {
            size: A4 landscape;
            margin-top: 10mm;
            margin-right: 12mm;
            margin-bottom: 8mm;
            margin-left: 12mm;
          }

          body {
            font-size: 11px !important;
          }

          table {
            page-break-inside: avoid !important;
          }

          .container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }

          .container > form > table > thead > tr > td {
            width: 50%;
            vertical-align: top;
          }

          img {
            max-width: 100%;
            height: auto;
          }
