<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link href="/3GMasterWebLogin/css/styles.css" rel="stylesheet">
</head>
<body>
<div class="login-container">
    <div class="image-slideshow">
        <img src="/3GMasterWebLogin/images/logo.jpg" alt="logo" class="center-image slide">
    </div>

    <div class="login-form">
        <h2>Secure Property Tax Assessment Services</h2>
        <form action="/3g/authenticate" method="post" class="login-form">
            <div class="form-group">
                <label for="councilLabel"><b>Site Council:</b></label>
                <label for="councilLabel" id="councilLabel"><b>Loading...</b></label>
            </div>

            <div class="form-group">
                <label for="username"><b>Username</b></label>
                <input type="text" id="username" name="username" required>
            </div>

            <div class="form-group">
                <label for="password"><b>Password</b></label>
                <input type="password" id="password" name="password" required>
            </div>

            <div class="form-group btns">
                <input type="submit" value="Login">
            </div>
        </form>
    </div>
</div>

<script src="/3GMasterWebLogin/js/scripts.js"></script>
</body>
</html>
