<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Details Form</title>
    <link href="/3GOldDetailsEditForm/css/styles.css" rel="stylesheet">
</head>
<style>

</style>
<body>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title mb-4">Search for a Property</h3>
            <div class="form-row align-items-end">
                <div class="col-md-4">
                    <label for="wardInput" class="form-label">Ward:</label>
                    <input type="text" id="wardInput" class="form-control" placeholder="Enter Old Ward Number..."></input>
                </div>
                <div class="col-md-4">
                    <label for="oldPropertyNumberInput" class="form-label">Old Property Number:</label>
                    <input type="text" id="oldPropertyNumberInput" class="form-control" placeholder="Enter Old Property Number...">
                </div>
                <div class="col-md-4">
                    <label for="ownerNameInput" class="form-label">Owner Name:</label>
                    <input type="text" id="ownerNameInput" class="form-control" placeholder="Enter Owner Name...">
                </div>
            </div>
            <div class="mt-3">
                <button id="searchButton" class="btn btn-success">Search</button>
            </div>
            <!-- Add a div specifically for search results with padding and border -->
            <div id="searchResultsContainer" class="mt-3">
                <div id="searchResults"></div>
            </div>
        </div>
    </div>
    <form id="propertyForm" action="/3gSurvey/submitPropertyOldDetails" method="POST" onsubmit="submitForm();">

        <input type="hidden" id="podRefNoVc" name="podRefNoVc" value="">
        <input type="hidden" id="id" name="id" value="">

        <h2>Property Old Details Edit Form</h2>
        <label for="podZoneI">Zone:</label>
        <input type="text" id="podZoneI" name="podZoneI" disabled><br>

        <label for="podWardI">Old Ward:</label>
        <select id="podWardI" name="podWardI" disabled>
            <option value="">Select an Old Ward...</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
        </select><br>

        <label for="podOldPropNoVc">Old Property Number:</label><br>
        <input type="text" id="podOldPropNoVc" name="podOldPropNoVc" required disabled><br>
    
        <label for="podNewPropertyNoVc">Property Number:</label><br>
        <input type="text" id="podNewPropertyNoVc" name="podNewPropertyNoVc" disabled><br>
    
        <label for="podOwnerNameVc">Owner Name:</label><br>
        <input type="text" id="podOwnerNameVc" name="podOwnerNameVc" required disabled><br>
    
        <label for="podOccupierNameVc">Occupier Name:</label><br>
        <input type="text" id="podOccupierNameVc" name="podOccupierNameVc"  disabled><br>
    
        <label for="podPropertyAddressVc">Property Address:</label><br>
        <input type="text" id="podPropertyAddressVc" name="podPropertyAddressVc" required disabled><br>
    
        <label for="podNoofrooms">No of rooms:</label><br>
        <input type="number" id="podNoofrooms" name="podNoofrooms" disabled><br>

        <label for="podPlotvalue">Plot value:</label><br>
        <input type="number" step="any" id="podPlotvalue" name="podPlotvalue" disabled><br>

        <label for="podTotalPropertyvalue">Total Property value:</label><br>
        <input type="number" step="any" id="podTotalPropertyvalue" name="podTotalPropertyvalue" disabled><br>

        <label for="podBuildingvalue">Building value</label><br>
        <input type="number" step="any" id="podBuildingvalue" name="podBuildingvalue" disabled><br>
    
        <label for="podPropertyTypeI">Property Type:</label><br>
        <select type="text" style="width: 97%;" id="podPropertyTypeI" name="podPropertyTypeI" disabled>
        <option value="select">Select</option>
        </select>
        
    
        <label for="podPropertySubTypeI">Property Sub Type:</label><br>
        <select style="width: 97%;" id="podPropertySubTypeI" name="podPropertySubTypeI" disabled>
        <option value="select">Select</option>
        </select>
        
    
        <label for="podUsageTypeI">Usage Type:</label><br>
        <select style="width: 97%;" id="podUsageTypeI" name="podUsageTypeI" disabled>
        <option value="select">Select</option>
        </select>
        
    
        <label for="podConstClassVc">Construction Class:</label><br>
        <input type="text" id="podConstClassVc" name="podConstClassVc" disabled><br>
    
        <label for="pdConstructionYearD">Construction Year:</label><br>
        <input type="date" id="pdConstructionYearD" name="pdConstructionYearD" disabled><br>
    
        <label for="podBuiltUpAreaFl">Built-Up Area (sq ft):</label><br>
        <input type="number" step="any" id="podBuiltUpAreaFl" name="podBuiltUpAreaFl" disabled><br>
    
        <label for="podPropertyTaxFl">Property Tax:</label><br>
        <input type="number" step="any" id="podPropertyTaxFl" name="podPropertyTaxFl" disabled><br>
    
        <label for="podEduCessFl">Education Cess:</label><br>
        <input type="number" step="any" id="podEduCessFl" name="podEduCessFl" disabled><br>
    
        <label for="podEgcFl">Emergency Services Charge:</label><br>
        <input type="number" step="any" id="podEgcFl" name="podEgcFl" disabled><br>
    
        <label for="podTreeTaxFl">Tree Tax:</label><br>
        <input type="number" step="any" id="podTreeTaxFl" name="podTreeTaxFl" disabled><br>
    
        <label for="podEnvTaxFl">Environment Tax:</label><br>
        <input type="number" step="any" id="podEnvTaxFl" name="podEnvTaxFl" disabled><br>
    
        <label for="podFireTaxFl">Fire Service Tax:</label><br>
        <input type="number" step="any" id="podFireTaxFl" name="podFireTaxFl" disabled><br>

        <div class="scrollable-table">
            <table id="unitsTable" style="width: 300%; table-layout: fixed;">
                <thead>
                <tr>
                    <th >Occupancy</th>
                    <th>Floor Number</th>
                    <th>Old Property Class</th>
                    <th>Construction Year</th>
                    <th>Unit Usage Type</th>
                    <th>Unit Sub Usage Type</th>
                    <th>Assessment Area</th>
                </tr>
                </thead>
                <tbody>
                <!-- Units will be added here -->
                </tbody>
            </table>
        </div>

        <label for="podTotalTaxFl">Total Tax:</label><br>
        <input type="number" step="any" id="podTotalTaxFl" name="podTotalTaxFl" required disabled><br>
    
        <label for="podTotalAssessmentArea">Total assessment area:</label><br>
        <input type="number" step="any" id="podTotalAssessmentArea" name="podTotalAssessmentArea" disabled><br>

        <label for="podTotalAssessmentAreaFt">Total assessment area in Sq Ft:</label><br>
        <input type="number" step="any" id="podTotalAssessmentAreaFt" name="podTotalAssessmentAreaFt" disabled><br>

        <label for="podTotalRatableValue">Total ratable value:</label><br>
        <input type="number" step="any" id="podTotalRatableValue" name="podTotalRatableValue" disabled><br>

        <label for="updateFlag"></label>
        <input type="hidden" id="updateFlag" name="updateFlag" >

        <input type="button" class="edit-btn" value="Edit" onclick="toggleEdit()">
        <button type="button" onclick="deleteProperty()" class="button-style" style="background-color: #f44336;">Delete Property</button>
        <input type="submit" value="Submit" class="button-style" style="display: none;">

    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/3GOldDetailsEditForm/js/scripts.js"></script>
</body>
</html>
