
<!-- index.html -->
<!DOCTYPE html>
<html lang="mr">
<head>
    <meta charset="UTF-8">
    <title>Hearing Notice</title>
    <link rel="stylesheet" href="/3GViewHearingNotice/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<div class="container">

    <div class="header">
        <img class="councilLogo" src="https://example.com/default-image.png" alt="Council Logo" />
        <h1><span class="councilName"></span>, कार्यालय जि. <span class="localDistrictNameVC"></span></h1>
        <div class="sub-title">(महाराष्ट्र नगर परिषद, नगर पंचायती व औद्योगिक नगरफी अधिनियम १९६५, कलम १६९ (१) अनुसार) – नोटीस –</div>
    </div>

    <div class="notice-no-date">
        <div>नोटीस क्र.: <span class="noticeNo"></span></div>
        <div>दिनांक: ____/____/2024</div>
    </div>

    <table>
        <thead>
        <tr class="pink">
            <th>आक्षेप अर्ज क्रमांक</th>
            <th>झोन क्रमांक</th>
            <th>वार्ड क्रमांक</th>
            <th>नविन मालमत्ता क्रमांक</th>
            <th>जुना मालमत्ता क्रमांक</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <div class="content">
        श्री/श्रीमती. <strong> <span class="ownerName">रामकांत रामचंद्र कोलमारे</span> </strong> आपणाला या नोटीसी द्वारे कळविण्यात येते की न.प. हद्दीत असलेल्या 
        आपल्या मालमत्तेची <strong><span class="yearRange">२०२४-२५ ते २०२७-२८</span> </strong>
         या कालावधीसाठी वार्षिक कर मूल्यमापन अधिकारी/वार्षिक आराखडा/नविन मालमत्ता वाचन बाबत आपले दिनांक <strong><span class="">24-01-2024</span></strong> 
         चे आक्षेप अद्याप प्राप्त झालेले नाहीत. नगर परिषद कर मूल्य निर्धारण अधिकारी यांनी त्यावर सुनावणी ठेवलेली असून दिनांक <strong><span class="hearingDate">11-06-2024</span>  रोजी <span class="hearingTime">11.00 AM</span> </strong> 
         वाजता होणार आहे. आपण जातानी किंवा आपल्या अधिकृत प्रतिनिधींमार्फत आपली बाजू मांडण्याकरीता <strong><span class="hearingTime">11.00 AM</span></strong> 
         वाजता न चुकता हजर राहावे. हजर न राहिल्यास आक्षेप चोकीस/तपासणीअंती आपले अर्ज हरवलेले होऊन अर्ज निकाली काढण्यात येईल.
    </div>

    <div class="signature">
        मुख्याधिकारी <br>
        <span class="councilName"></span>
    </div>

    <div class="page-break"></div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr class="custom-line">

    <div class="header">
        <img class="councilLogo" src="https://example.com/default-image.png" alt="Council Logo" />
        <h1><span class="councilName"></span>, कार्यालय जि. <span class="localDistrictNameVC"></span></h1>
        <div class="sub-title">(महाराष्ट्र नगर परिषद, नगर पंचायती व औद्योगिक नगरफी अधिनियम १९६५, कलम १६९ (१) अनुसार) – नोटीस –</div>
    </div>

    <div class="notice-no-date">
        <div>नोटीस क्र.: </div>
        <div>दिनांक: ____/____/2024</div>
    </div>

    <table>
        <thead>
        <tr class="pink">
            <th>आक्षेप अर्ज क्रमांक</th>
            <th>झोन क्रमांक</th>
            <th>वार्ड क्रमांक</th>
            <th>नविन मालमत्ता क्रमांक</th>
            <th>जुना मालमत्ता क्रमांक</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <div class="content">
        श्री/श्रीमती. <strong> <span class="ownerName">रामकांत रामचंद्र कोलमारे</span> </strong> आपणाला या नोटीसी द्वारे कळविण्यात येते की न.प. हद्दीत असलेल्या 
        आपल्या मालमत्तेची <strong><span class="yearRange">२०२४-२५ ते २०२७-२८</span> </strong>
         या कालावधीसाठी वार्षिक कर मूल्यमापन अधिकारी/वार्षिक आराखडा/नविन मालमत्ता वाचन बाबत आपले दिनांक <strong><span class="">24-01-2024</span></strong> 
         चे आक्षेप अद्याप प्राप्त झालेले नाहीत. नगर परिषद कर मूल्य निर्धारण अधिकारी यांनी त्यावर सुनावणी ठेवलेली असून दिनांक <strong><span class="hearingDate">11-06-2024</span>  रोजी <span class="hearingTime">11.00 AM</span> </strong> 
         वाजता होणार आहे. आपण जातानी किंवा आपल्या अधिकृत प्रतिनिधींमार्फत आपली बाजू मांडण्याकरीता <strong><span class="hearingTime">11.00 AM</span></strong> 
         वाजता न चुकता हजर राहावे. हजर न राहिल्यास आक्षेप चोकीस/तपासणीअंती आपले अर्ज हरवलेले होऊन अर्ज निकाली काढण्यात येईल.
    </div>

    <div class="signature">
        मुख्याधिकारी <br>
        <span class="councilName"></span>
    </div>
</div>
</body>
<script src="/3GViewHearingNotice/js/scripts.js"></script>
</html>
