<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Tax Bills</title>
    <link rel="stylesheet" href="/3GViewTaxBill/css/styles.css">
</head>

<body style="font-size:12px !important; height:900px !important;font-family:  Arial Unicode MS;">
<button id="printBtn"
        style="padding:6px 12px;
        background:#007bff;
        color:white;
        border:none;
        border-radius:4px;
        cursor:pointer;">
    🖨️ Print
</button>
<div id="main-report-section" style="margin:20px;"></div>
<div class="page-container template" style="display:none;">
    <div id="printIt">
        <div class="container" style="border: 1px solid darkgrey;">
            <form id="taxreceipt" name="taxreceipt">

                <table style="padding:4px;height:800px !important;">
                    <thead>
                    <tr>
                        <td>
                            <div class="part1 formpart1">
                                <table class="tabpart1 headpart" style="margin-top:2px!important;">
                                    <tbody><tr>
                                        <td rowspan="4" style="padding-right:20px">
                                            <img class="councilLogo" src="https://example.com/default-image.png" alt="Council Logo" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="councilLocalNameHeader">नगर परिषद</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <d class="middlehead">महाराष्ट्र लेखा संहिता नमुना क्र. ५२ (नियम ६८,९३ पहा)</d>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <d class="lasthead">31/03/2025 रोजी संपणाऱ्या कालावधीच्या कराचे बिल</d>
                                        </td>
                                    </tr>
                                    </tbody></table>

                                <table style="width:100%; font-size: 12px !important;margin-top:5px!important;">
                                    <tbody><tr>
                                        <td style="width:25%;">बिल क्र.:  </td>
                                        <td style="width:25%;">वार्ड क्र.: <span class="pdWardI"></span></td>
                                        <td style="width:25%;">झोन क्र.: <span class="pdZoneI"></span></td>
                                        <td style="width:25%;">बिल दि. : </td>
                                    </tr>
                                    </tbody></table>
                                <table style="width:100%; font-size: 12px !important;margin-top:5px!important;">
                                    <tbody><tr>
                                        <td style="width:75%;">नविन मालमत्ता क्र. : <span class="pdFinalpropnoVc"></span></td>
                                        <td style="width:25%;">जुना मालमत्ता क्र.: <span class="pdOldpropnoVc"></span></td>
                                    </tr>
                                    </tbody></table>
                                <table style="width:100%; font-size: 12px !important;margin-top:2px!important;">
                                    <tbody><tr>
                                        <td style="width:75%;">
                                            <b>नाव:- <span class="pdOwnernameVc"></span></b>
                                        </td>
                                        <td style="width:25%;">मालमत्ता क्षेत्रफळ: <span class="pdAssesareaF"></span></td>
                                    </tr>
                                    <tr>
                                        <td style="width:65%;">पत्ता:- <span class="pdPropertyaddressVc"></span></td>
                                        <td style="width:35%;"></td>
                                    </tr></tbody></table>

                                <div class="tab1">
                                    <table class="table1 table-bordered" style="width:100%;margin-top:5px!important;" cellspacing="0" cellpadding="0">
                                        <thead>
                                        <tr>
                                            <th class="row sky" rowspan="2">वापराचा प्रकार</th>
                                            <th class="row sky" rowspan="2">निवासी</th>
                                            <th class="row sky" rowspan="2">वाणिज्य</th>
                                            <th class="row sky" rowspan="2">धार्मिक</th>
                                            <th class="row sky" colspan="6">
                                                <span>खुला भूखंड</span>
                                            </th>
                                            <th class="row sky" rowspan="2">शैक्ष.व वैधा संस्थान</th>
                                            <th class="row sky" rowspan="2">शासकीय</th>
                                            <th class="row sky" rowspan="2">औद्योगिक</th>
                                            <th class="row sky" rowspan="2">मोबाईल टॉवर</th>
                                            <th class="row sky" rowspan="2">इलेक्ट्रिक सब-स्टेशन</th>
                                            <th class="row sky" rowspan="2">एकूण</th>
                                        </tr>
                                        <tr style="background-color:#F8E0F7;" class="t-a-c">
                                            <th style="border-left:0px!important;" class="bb-n">निवासी</th>
                                            <th style="border-left:0px!important;border-right:0px!important;" class="bb-n">वाणिज्य</th>
                                            <th>धार्मिक</th>
                                            <th>शैक्ष.व वैधा संस्थान</th>
                                            <th>शासकीय</th>
                                            <th>औद्योगिक</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="h-25 t-a-c">
                                            <td>क. योग्य मु.</td>
                                            <td class="residentialFl"></td>
                                            <td class="commercialFl"></td>
                                            <td class="religiousFl"></td>
                                            <td class="residentialOpenPlotFl"></td>
                                            <td class="commercialOpenPlotFl"></td>
                                            <td class="religiousOpenPlotFl"></td>
                                            <td class="educationalInstituteOpenPlotFl"></td>
                                            <td class="governmentOpenPlotFl"></td>
                                            <td class="industrialOpenPlotFl"></td>
                                            <td class="educationAndLegalInstituteOpenPlotFl"></td>
                                            <td class="governmentFl"></td>
                                            <td class="industrialFl"></td>
                                            <td class="mobileTowerFl"></td>
                                            <td class="electricSubstationFl"></td>
                                            <td class="aggregateFl"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <table class="table2 table-bordered taxBillTable" style="width:100%;margin-top:5px!important;" cellspacing="0" cellpadding="0">

                                    <tbody></tbody>
                                </table>

                                <p align="justify" class="para1" style="margin-top:0px!important;font-size:10px !important;"></p><p align="justify" class="para1">१) महाराष्ट्र नगर परिषदा, नगर परिषदी व औद्योगिक नागरी अधिनियम १९६५ नुसार न.प चा कर आर्थिक वर्षाच्या सुरुवातीला अर्थात १ एप्रील रोजी देय होतो.
                                २) कराचे देयक आल्यापासून १५ (दिवस) दिवसाचे आत देयकातील संपूर्ण रक्कम अदा केल्यास, मालमत्ता करावर १% सूट मिळेल.<br>
                                ३) एकुण मालमत्ता कराची निम्मी रक्कम बिल दिनांकापासून तीन महिन्याच्या आत न भरल्यास तीन महिन्या नंतर प्रथम सहा माही रक्कमेवर कलम १५० अ (१) अन्वये दर माह २% दंड / शास्ती आकारण्यात येईल तसेच उर्वरित रक्कमेसह पूर्ण मालमत्ता कर, ३१ डिसेंबर पर्यंत न भरल्यास त्यावर सुध्दा कलम १५० अ (१) अन्वये दर माह २% दंड / शास्ती आकारण्यात येईल व कराची रक्कम दंडासह भरने बंधनकारक राहील.<br>
                                ४) जर देयक दिल्यापासून विहित मुदतीच्या आत कराचा भरणा न केल्यास पूर्ण कराचा भरणा, दंडाची रक्कम व्याज फी व इतर बाकी रक्कम विहित मुदतीत भरली नाही किंवा (व) कलम १६९ च्या तरतुदीनुसार अश्या दाव्या विरुद्ध अपील केले नाहि तर अशी रक्कम वसूल करण्याचा सर्व खर्च कलम १५२ अन्वये मुख्याधिकारी यांचे स्वाक्षरीचे वारंट/अधिपत्र काढून आपल्या जंगम किंवा स्थावर मालमत्तेची अटकावणी करून ती जाहीर लिलावाद्वारे विकून वसुलीस पात्र असेल.<br>
                                ५) जप्त केलेल्या स्थावर मालमत्तेबाबत मा. जिल्हाधिकारी यांची पूर्व मंजुरी घेवून न.प.ला रक्कमेत आपले स्थावर मालमत्ता ताब्यात घेता येईल.<br>
                                ६)सदर देयक दि. ३१ मार्च पर्यंतचे वसुलीस अधीन राहून लागू करण्यात येत आहे. त्यानुसार त्या कराची रक्कम अदा केली असल्यास, भरलेली रक्कम सदर बिलातून सामायोजीत केली जाईल.<br>
                                <b>टीप:</b>
                                सदर देयके सन 2024-25 या आर्थिक वर्षाचे असून यापूर्वीचे जुन्या कर आकारणीनुसार आपणावर बाकी असलेले मागील वर्षाचे थकीत मालमत्ता कर 2 टक्के शास्तीसह कर भरणा करणे बंधनकारक राहील सदर थकीत रक्कम नगर परिषद कार्यालयात पहावयास उपलब्ध आहे.
                            </p>
                                <table style="margin-top:-3px;width:100%;margin-bottom: -3px;">
                                    <tbody><tr><td style="width:15%; text-align: left;">दि: ___//20_</td>
                                        <td style="width:30%; text-align: right;"></td>
                                        <td style="width:30%; text-align: right;"><img class="officerSignature" src="" height="40;" width="80;"></td></tr>
                                    <tr>
                                        <td style="width:15%; text-align: left; font-size:5px;">SPN:0001</td>
                                        <td style="width:30%; text-align: center;"><span style="padding-right:8px;">मालमत्ता धारकरची /पावती,</span><br>

                                            घेणाऱ्याची स्वाक्षरी व नाव</td><td style="width:30%; text-align: right;"><span style="padding-right:8px;">मुख्याधिकारी,</span><br>
                                        <span style="padding-right:8px;" class="councilLocalName"></span></td></tr>
                                    </tbody></table>

                            </div></td>
                        <td>
                            <div class="part1 formpart1">
                                <table class="tabpart1 headpart" style="margin-top:2px!important;">
                                    <tbody><tr>
                                        <td rowspan="4" style="padding-right:20px">
                                            <img class="councilLogo" src="https://example.com/default-image.png" alt="Council Logo" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="councilLocalNameHeader">नगर परिषद</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <d class="middlehead">महाराष्ट्र लेखा संहिता नमुना क्र. ५२ (नियम ६८,९३ पहा)</d>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <d class="lasthead">31/03/2025 रोजी संपणाऱ्या कालावधीच्या कराचे बिल</d>
                                        </td>
                                    </tr>
                                    </tbody></table>
                                <table style="width:100%; font-size: 12px !important;margin-top:5px!important;">
                                    <tbody><tr>
                                        <td style="width:25%;">बिल क्र.: </td>
                                        <td style="width:25%;">वार्ड क्र.: <span class="pdWardI"></span></td>
                                        <td style="width:25%;">झोन क्र.: <span class="pdZoneI"></span></td>
                                        <td style="width:25%;">बिल दि.: </td>
                                    </tr>
                                    </tbody></table>
                                <table style="width:100%; font-size: 12px !important;margin-top:5px!important;">
                                    <tbody><tr>
                                        <td style="width:75%;" >नविन मालमत्ता क्र.: <span class="pdFinalpropnoVc"></span></td>
                                        <td style="width:25%;">जुना मालमत्ता क्र.: <span class="pdOldpropnoVc"></span></td>
                                    </tr>

                                    </tbody></table>
                                <table style="width:100%; font-size: 12px !important;margin-top:2px!important;">
                                    <tbody><tr>
                                        <td style="width:75%;">
                                            <b>नाव:- <span class="pdOwnernameVc"></span></b>

                                        </td>

                                        <td style="width:25%;">मालमत्ता क्षेत्रफळ: <span class="pdAssesareaF"></span></td>
                                    </tr>
                                    <tr>
                                        <td style="width:65%;">पत्ता:- <span class="pdPropertyaddressVc"></span></td>
                                        <td style="width:35%;"></td>
                                    </tr></tbody></table>
                                <div class="tab1">
                                    <table class="table1 table-bordered" style="width:100%;margin-top: 5px!important;" cellspacing="0" cellpadding="0">
                                        <thead>
                                        <tr>
                                            <th class="row sky" rowspan="2">वापराचा प्रकार</th>
                                            <th class="row sky" rowspan="2">निवासी</th>
                                            <th class="row sky" rowspan="2">वाणिज्य</th>
                                            <th class="row sky" rowspan="2">धार्मिक</th>
                                            <th class="row sky" colspan="6">
                                                <span>खुला भूखंड</span>
                                            </th>
                                            <th class="row sky" rowspan="2">शैक्ष.व वैधा संस्थान</th>
                                            <th class="row sky" rowspan="2">शासकीय</th>
                                            <th class="row sky" rowspan="2">औद्योगिक</th>
                                            <th class="row sky" rowspan="2">मोबाईल टॉवर</th>
                                            <th class="row sky" rowspan="2">इलेक्ट्रिक सब-स्टेशन</th>
                                            <th class="row sky" rowspan="2">एकूण</th>
                                        </tr>
                                        <tr style="background-color:#F8E0F7;" class="t-a-c">
                                            <th style="border-left:0px!important;" class="bb-n">निवासी</th>
                                            <th style="border-left:0px!important;border-right:0px!important;" class="bb-n">वाणिज्य</th>
                                            <th>धार्मिक</th>
                                            <th>शैक्ष.व वैधा संस्थान</th>
                                            <th>शासकीय</th>
                                            <th>औद्योगिक</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="h-25 t-a-c">
                                            <td>क. योग्य मु.</td>
                                            <td class="residentialFl"></td>
                                            <td class="commercialFl"></td>
                                            <td class="religiousFl"></td>
                                            <td class="residentialOpenPlotFl"></td>
                                            <td class="commercialOpenPlotFl"></td>
                                            <td class="religiousOpenPlotFl"></td>
                                            <td class="educationalInstituteOpenPlotFl"></td>
                                            <td class="governmentOpenPlotFl"></td>
                                            <td class="industrialOpenPlotFl"></td>
                                            <td class="educationAndLegalInstituteOpenPlotFl"></td>
                                            <td class="governmentFl"></td>
                                            <td class="industrialFl"></td>
                                            <td class="mobileTowerFl"></td>
                                            <td class="electricSubstationFl"></td>
                                            <td class="aggregateFl"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <table class="table2 table-bordered taxBillTable" style="width:100%;margin-top:5px!important;" cellspacing="0" cellpadding="0">

                                    <tbody></tbody>
                                </table>

                                <p align="justify" class="para1" style="margin-top:0px!important;font-size:10px !important;"></p><p align="justify" class="para1">१) महाराष्ट्र नगर परिषदा, नगर परिषदी व औद्योगिक नागरी अधिनियम १९६५ नुसार न.प चा कर आर्थिक वर्षाच्या सुरुवातीला अर्थात १ एप्रील रोजी देय होतो.
                                २) कराचे देयक आल्यापासून १५ (दिवस) दिवसाचे आत देयकातील संपूर्ण रक्कम अदा केल्यास, मालमत्ता करावर १% सूट मिळेल.<br>
                                ३) एकुण मालमत्ता कराची निम्मी रक्कम बिल दिनांकापासून तीन महिन्याच्या आत न भरल्यास तीन महिन्या नंतर प्रथम सहा माही रक्कमेवर कलम १५० अ (१) अन्वये दर माह २% दंड / शास्ती आकारण्यात येईल तसेच उर्वरित रक्कमेसह पूर्ण मालमत्ता कर, ३१ डिसेंबर पर्यंत न भरल्यास त्यावर सुध्दा कलम १५० अ (१) अन्वये दर माह २% दंड / शास्ती आकारण्यात येईल व कराची रक्कम दंडासह भरने बंधनकारक राहील.<br>
                                ४) जर देयक दिल्यापासून विहित मुदतीच्या आत कराचा भरणा न केल्यास पूर्ण कराचा भरणा, दंडाची रक्कम व्याज फी व इतर बाकी रक्कम विहित मुदतीत भरली नाही किंवा (व) कलम १६९ च्या तरतुदीनुसार अश्या दाव्या विरुद्ध अपील केले नाहि तर अशी रक्कम वसूल करण्याचा सर्व खर्च कलम १५२ अन्वये मुख्याधिकारी यांचे स्वाक्षरीचे वारंट/अधिपत्र काढून आपल्या जंगम किंवा स्थावर मालमत्तेची अटकावणी करून ती जाहीर लिलावाद्वारे विकून वसुलीस पात्र असेल.<br>
                                ५) जप्त केलेल्या स्थावर मालमत्तेबाबत मा. जिल्हाधिकारी यांची पूर्व मंजुरी घेवून न.प.ला रक्कमेत आपले स्थावर मालमत्ता ताब्यात घेता येईल.<br>
                                ६)सदर देयक दि. ३१ मार्च पर्यंतचे वसुलीस अधीन राहून लागू करण्यात येत आहे. त्यानुसार त्या कराची रक्कम अदा केली असल्यास, भरलेली रक्कम सदर बिलातून सामायोजीत केली जाईल.<br>
                                <b>टीप:</b>
                                सदर देयके सन 2024-25 या आर्थिक वर्षाचे असून यापूर्वीचे जुन्या कर आकारणीनुसार आपणावर बाकी असलेले मागील वर्षाचे थकीत मालमत्ता कर 2 टक्के शास्तीसह कर भरणा करणे बंधनकारक राहील सदर थकीत रक्कम नगर परिषद कार्यालयात पहावयास उपलब्ध आहे.
                            </p>
                                <table style="margin-top:-3px;width:100%;margin-bottom: -3px;">
                                    <tbody><tr><td style="width:15%; text-align: left;">दि: ___//20_</td>
                                        <td style="width:30%; text-align: right;"></td>
                                        <td style="width:30%; text-align: right;"><img class="officerSignature" src="" height="40;" width="80;"></td></tr>
                                    <tr><td style="width:15%; text-align: left; font-size:5px;">SPN:0001</td><td style="width:30%; text-align: center;"><span style="padding-right:8px;">कर निरीक्षक</span><br>
                                        <span style="padding-right:8px;" class="councilLocalName"></span></td><td style="width:30%; text-align: right;"><span style="padding-right:8px;">मुख्याधिकारी,</span><br>
                                        <span style="padding-right:8px;" class="councilLocalName"></span></td></tr>

                                    </tbody></table>
                            </div></td></tr></thead></table>
            </form></div>

    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/3GViewTaxBill/js/scripts.js"></script>
</html>


