<!DOCTYPE html>
<html lang="mr">
<head>
    <meta charset="UTF-8">
    <title>Special Notice</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="/3GViewSpecialNotice/css/styles.css">
</head>
<body>



<div class="page-container">


    <div class="header">
        <div class="logo-title">
            <img class="councilLogo" src="https://example.com/default-image.png" alt="Council Logo" />
            <div class="title-text">
                <h1><span class="councilLocalName"></span>, कार्यालय जि. <span class="localDistrictNameVC"></span></h1>
                <p>सन <span class="yearRange"></span> च्या प्रस्तावित चतुर्थ वार्षिक कर मूल्यांकन</p>
                <p><strong>विशेष नोटीस / Special Notice-</strong></p>
            </div>
        </div>
    </div>


    <div class="date-boxes">
        <div><input type="text" value="" readonly /></div>
        <div class="red-label">आक्षेप नोंदविण्याची अंतिम तारीख</div>
        <div><input type="text" value="" readonly /></div>
    </div>

    <div class="section">
        <p><span class="highlight">प्रति , <br>मालमत्ता धारकाचे नाव: <span class="pdOwnernameVc"></span><br>भोगवटदाराचे नाव:<span class="pdOccupinameF"></span> </span></p>

    </div>

    <table>
        <thead>
        <tr>
            <th>नोटीस क्र.</th>
            <th id="wardNo">वार्ड</th>
            <th>झोन</th>
            <th>सर्वे क्र.</th>
            <th>नवीन मा. क्र.</th>
            <th>जुना क्र.</th>
            <th>वापर प्रकार &lt;&lt; उप प्रकार</th>
            <th>प्रस्तावित क.यो. मूल्य</th>
            <th>प्रस्तावित आकारणी</th>
            <th>कर आकारणी दिनांक</th>
        </tr>
        </thead>
        <!-- Table 1: Notice Summary Table -->
        <tbody id="summary-table-body">
        <tr>
            <td class="pdNoticenoVc"></td>
            <td class="pdWardI"></td>
            <td class="pdZoneI"></td>
            <td class="pdSurypropnoVc"></td>
            <td class="pdFinalpropnoVc"></td>                       <!-- Changes by anand -->
            <td class="pdOldpropnoVc"></td>
            <td class="pdPropertytypeAndSubtype"></td>
            <td class="aggregateFl"></td>                  <!-- Changes by anand -->
            <td class="totalTaxFl"></td>                            <!-- Changes by anand -->
            <td class="currentAssessmentDateDt"></td>               <!-- Changes by anand -->
        </tr>
        </tbody>
    </table>


    <div class="f2">दिनांक:-</div>
    <div class="f3"><br> नोटीस स्विकारणाऱ्याची नाव:- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        नोटीस स्विकारणाऱ्याची स्वाक्षरी<br><hr class="dashed-line"></div>

    <div class="header4">
    <div class="logo-title">
        <img class="councilLogo" src="https://example.com/default-image.png" alt="Council Logo" />
        <div class="title-text">
            <h1><span class="councilLocalName"></span>, कार्यालय जि. <span class="localDistrictNameVC"></span></h1>
            <p>सन <span class="yearRange"></span> च्या प्रस्तावित चतुर्थ वार्षिक कर मूल्यांकन</p>
            <p><strong>विशेष नोटीस / Special Notice-</strong></p>
            <p>(महाराष्ट्र नगर परिषद, नगर पंचायत व औद्योगिक नगरी अधिनियम १९६५ चे कलम ८१(१) अन्वये)</p>
        </div>
    </div>
</div>



    <div class="dates">
        <div><label><strong>दिनांक:</strong></label><input type="text" value="" readonly /></div>
        <div class="red-label">आक्षेप नोंदविण्याची अंतिम तारीख</div>
        <div><input type="text" value="" readonly /></div>
    </div>

    <div class="details">
        <div><strong>नोटीस क्र.: <span class="pdNoticenoVc"></span><br>नवीन मालमत्ता क्र.: <span class="pdFinalpropnoVc"></span><br>मालमत्तेचे नाव: <br>मालमत्ता धारकाचे नाव: <span class="pdOwnernameVc"></span><br>भोगवटादाराचे नाव: <span class="pdOccupinameF"></span></strong> </div>

    </div>

    <div class="G1">
        <p>
            आपणास या द्वारे सूचित करण्यात येते की, नगर परिषद <b>Site local name</b>ने नगर परिषद क्षेत्रातील आपल्या मालकीच्या इमारती व जमिनीवर अथवा
            भाडेकरुकडून घेण्यात येणाऱ्या भाड्यावर मालमत्तेची जागेवर मोजणी व तपासणी करून, सन <b>२०२४-२५ ते २०२७-२८</b> या चार वर्षाकरिता कर योग्य मूल्य
            निर्धारण करून त्यावर अनुषंगिक करांची आकारणी प्रस्तावित केलेली आहे. करयोग्य मूल्य व या सर्व करांच्या आकारणीची यादी कलम <b>११७</b>नुसार प्राधिकृत
            मूल्यनिर्धारण अधिकारी नगर परिषद <b>Site local name </b>यांनी तपासून मंजूर केली असून महाराष्ट्र नगरपरिषद, नगर पंचायती व औद्योगिक नगरी अधिनियम
            <b>१९६५ </b>चे कलम <b> ११८ </b>अन्वये दि.<b> 12/01/2024 </b>ला प्रसिद्ध करण्यात आली आहे. सदर यादी
            <b>www.LocalSiteNamemunicipalcouncil.com</b> या संकेत स्थळावर ऑनलाईन <b>(Online)</b> तसेच नगर परिषद <b>Site local name</b>
            कार्यालयात कर अधिक्षक यांचे कडे सुटीचे दिवस वगळून ईतर दिवशी कार्यालयीन वेळेत विनामुल्य पहावयास मिळेल. यादीतील आपल्या मालकीचे इमारती व जमिनीचे कर योग्य
            मूल्यात वाढ केली अथवा नविन कर योग्य मूल्य आकारण्यात आले असून त्या मूल्यावर योग्य त्या दराने कर आकारणी खालील प्रमाणे दर्शविली आहे. यादीतील आकारण्यात
            आलेल्या कर योग्य मूल्य व कर आकारणी तसेच नावाबाबत आक्षेप किंवा हरकत असल्यास सदर कारणे नमूद करून मुख्याधिकारी न.प. यांचे कडे यादी प्रसिद्ध झाल्याच्या तारखे
            पासून ३० दिवसांचे आत अर्जाच्या स्वरुपात <b>www.LocalSiteNamemunicipalcouncil.com</b> या संकेत स्थळावर ऑनलाईन <b>(Online)</b> आक्षेप किंवा
            हरकत सादर करावेत. आक्षेप अर्जामध्ये सर्व कारणे नमूद असली पाहिजेत. आक्षेप अर्जाशिवाय कर आकारणी बाबत कोणतीच बाब लक्षात घेतली जाणार नाही. तसेच आक्षेप
            अर्ज मुदतीत सादर करावेत, मुदती नंतर आलेल्या आक्षेप अर्जाचा विचार केला जाणार नाही व सदरची कर आकारणी आपणास मंजूर असल्याचे समजून नगर परिषदने आपल्या
            नावे केलेली कर आकारणी कायम करण्यात येईल याची नोंद घ्यावी.<br>
            १. आक्षेप अर्ज ऑनलाईन सादर करीत असतांना संबंधित मालमत्तेचे नवीन मालमत्ता क्रमांक व नवीन वार्ड क्रमांक ची माहिती भरणे आवश्यक आहे. अर्ज सादर करतांना ही नोटीस सोबत ठेवावी.<br>
            २. अनधिकृत बांधकामांना मालमत्ता कराची आकारणी केल्यामुळे अनधिकृत बांधकाम नियमित आले असे समजण्यात येऊ नये. मालमत्ता कराच्या आकारणीमुळे नगर परिषद कायद्याने असलेल्या
            अनधिकृत बांधकामाविरुद्ध करावयाच्या कायदेशीर कार्यवाहीस कोणतीही बाधा येत नाही.<br>
            ३. उपरोक्त मालमत्तेचा मालकी हक्क शासकीय जमीन, इमला, नझुल, सरकारी जागा ई. असल्यास मालमत्ता धारकाचे नाव भोगवटदार म्हणून संबोधण्यात येईल. उपरोक्त प्रमाणे मालमत्तेच्या
            मालकी हक्काच्या नोंदीत, मालमत्ता सव्र्व्हेक्षणाच्या नोंदीत अथवा करमूल्य निर्धारणात कुठलीही त्रुटी असल्यास, कुठलीही पूर्व सुचना न देता दुरुस्ती करण्याचे अधिकार महाराष्ट्र नगर परिषदा,
            नगर पंचायत व औद्योगिक नगरी अधिनियम <b>१९६५ </b>मधील कलम <b>१२३</b> अन्वये मुख्याधिकारी यांच्या द्वारे राखून ठेवण्यात येत आहे.<br>
            ४. सदर नोटीस मध्ये मानवी अथवा संगणकीय त्रुटी असल्यास सुधारित नोटीस देण्याचे अधिकार राखून सदरची नोटीस बजावण्यात येत आहे.
        </p>
    </div>



    <!-- ✅ FIXED table below -->
    <div class="tax-container">
        <h3 class="tight-heading">मालमत्ता तपशील:</h3>
        <table class="styled-table">
            <thead>
            <tr>
                <th id="wardNo">वॉर्ड </th>
                <th>झोन</th>
                <th>सर्वे क्र.</th>
                <th>जुना माल. क्र.</th>
                <th>भूखंड क्र.</th>
                <th>मालमत्ता प्रकार &lt;&lt; उपप्रकार</th>
                <th>वापर प्रकार &lt;&lt; उप प्रकार</th>
                <th>एकूण कर योग्य क्षेत्र.</th>
                <th>कर आकारणी दिनांक</th>
            </tr>
            </thead>
            <!-- Table 2: Tax Property Details -->
            <tbody id="property-details-body">
            <tr>
                <td class="pdWardI"></td>
                <td class="pdZoneI"></td>
                <td class="pdSurypropnoVc"></td>
                <td class="pdOldpropnoVc"></td>
                <td class="pdPlotnoVc"></td>
                <td class="pdPropertytypeAndSubtype"></td>
                <td class="pdUsagetypeAndSubtype"></td>
                <td class="pdAssesareaF"></td>                             <!--Change by Anand-->
                <td class="currentAssessmentDateDt"></td>                <!--Change by Anand-->
            </tr>
            </tbody>

        </table>
    </div>

    <div class="j1">
        <h3 class="tight-heading">प्रस्तावित कर योग्य मूल्य विवरण:</h3>
        <table>
            <thead>
            <tr>
                <th rowspan="2">निवासी</th>
                <th rowspan="2">वाणिज्य</th>
                <th rowspan="2">धार्मिक</th>
                <th colspan="6">खुला भूखंड</th>
                <th rowspan="2">शैक्षणिक व वैद्यकीय संस्था</th>
                <th rowspan="2">शासकीय</th>
                <th rowspan="2">औद्योगिक</th>
                <th rowspan="2">मोबाईल टॉवर</th>
                <th rowspan="2">इलेक्ट्रिक सब-स्टेशन</th>
                <th rowspan="2">एकूण करयोग्य मूल्य</th>
            </tr>
            <tr class="highlight">
                <th>निवासी</th>
                <th>वाणिज्य</th>
                <th>धार्मिक</th>
                <th>शै.व.वै.</th>
                <th>शासकीय</th>
                <th>औद्योगिक</th>
            </tr>
            </thead>

            <!-- Table 3: Proposed Ratable Value Details -->
            <tbody id="ratable-value-body">
            <tr>
                <td class="residentialFl"></td>
                <td class="commercialFl"></td>
                <td class="religiousFl"></td>
                <td class="residentialOpenPlotFl"></td>
                <td class="commercialOpenPlotFl"></td>
                <td class="religiousOpenPlotFl"></td>
                <td class="educationalInstituteOpenPlotFl"></td>
                <td class="governmentOpenPlotFl"></td>
                <td class="industrialOpenPlotFl"></td>
                <td class="educationAndLegalInstituteOpenPlotFl"></td>
                <td class="governmentFl"></td>
                <td class="industrialFl"></td>
                <td class="mobileTowerFl"></td>
                <td class="electricSubstationFl"></td>
                <td class="aggregateFl"></td>                 <!--Chane by Anand-->
            </tr>
            </tbody>

        </table>
    </div>

    <div class="styled-table total-section">
        <h3 class="tight-heading">प्रस्तावित एकूण कराचे तपशील:</h3>
        <table id="specialNoticeTaxTable">
            <!-- dynamic rows will be injected here -->
        </table>
    </div>
    <div style="border: 1px solid black; padding: 2px; margin: 2px 0;">
        <table style="width:100%;">
            <tr>
                <td style="width:30%;">
                    <img id="pdPropimageT" style="width: 100%; height: 150px; object-fit: fill; border: 1px solid #000;" src="">
                </td>
                <td style="width:5%;text-align:center;font-size:20px;font-weight:bold;">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i><br>P<br>R<br>O<br>P<br>E<br>R<br>T<br>Y<br> <br>P<br>H<br>O<br>T<br>O<br><br>
                </td>
                <td style="width:3%;border:none!important;"></td>
                <td style="width:5%;text-align:center;font-size:20px;font-weight:bold;">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i><br>F<br>L<br>O<br>O<br>R<br><br>P<br>L<br>A<br>N<br>
                    <i class="fa fa-arrow-left" aria-hidden="true"></i><br>
                </td>
                <td style="width:30%;">
                    <img id="pdHouseplan2T" style="width: 100%; height: 150px; object-fit: fill; border: 1px solid #000;" src="">
                </td>
            </tr>
        </table>
    </div>
    <br>
    <br>
    <br>
    <div class="signature-section">
        <div class="signature"><p>कर वसूली लिपिक<br><span class="councilLocalName"></span></p></div>
        <div class="signature"><p>कर विभाग प्रमुख<br><span class="councilLocalName"></span></p></div>
        <div class="signature"><p>मुख्याधिकारी<br><span class="councilLocalName"></span></p></div>
    </div>

</div>



</body>
<script src="/3GViewSpecialNotice/js/scripts.js"></script>
</html>
