<!DOCTYPE html>
<html lang="mr">
<head>
    <meta charset="UTF-8">
    <title>Order Sheet</title>
    <link rel="stylesheet" href="/3GViewOrderSheet/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="container">


    <div  class="header">
        <img class="councilLogo" src="https://example.com/default-image.png" alt="Council Logo" />
        <h1><span class="councilName"></span>, कार्यालय जि. <span class="localDistrictNameVC"></span></h1>
    </div>
    <div class="subtext">
        <b> सन <span class="yearRange"></span> या कार्यकालात कर थकबाकीवर कर मूळ व कर आकारणी बाबत जोडले प्रश्न<br></b>
        <span class="highlight"><b>महाराष्ट्र नगर परिषद, नगर पंचायत व औद्योगिक नागरी अधिनियम १९६५ चे कलम १२० प्रमाणे कार्यवाही</b></span>
    </div>


    <div class="aadesh-patra">
        <h1>आदेश पत्र</h1>

    </div>




    <!-- Header Table -->
    <table>
        <tr class="khushi">
            <td>अक्षेप क्रमांक</td>
            <td>वार्ड क्र.</td>
            <td>झोन क्र.</td>
            <td>नविन मालमता क्र.</td>
            <td>सर्वे मालमता क्र.</td>
            <td>जुना मालमता क्र.</td>
            <td>सुनावणीची तारीख</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

    </table>

    <!-- कर योग्य मूल्य Table -->
    <table>
        <tr class="saniya">
            <td colspan="15"><b>सुतावणी आधीचे कर योग्य मूल्य</b></td>
        </tr>
        <th rowspan="2">निवासी </th>
        <th rowspan="2"> वाणिज्य </th>
        <th rowspan="2"> धार्मिक</th>
        <th colspan="6">खुला भूखंड</th>
        <th rowspan="2">शैक्षणिक व वैद्यकीय संस्था</th>
        <th rowspan="2">शासकीय </th>
        <th rowspan="2">औद्योगिक</th>
        <th rowspan="2">मोबाईल टॉवर</th>
        <th rowspan="2">इलेक्ट्रिक सब-स्टेशन</th>
        <th rowspan="2">एकूण करयोग्य मूल्य</th>
        </tr>
        <tr>
            <th>निवासी </th>
            <th> वाणिज्य </th>
            <th>  धार्मिक</th>
            <th>श्री. व श्री.</th>
            <th>भारतीय </th>
            <th> औद्योगिक</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <!-- कर विवरण Table -->
    <table>
        <tr class="ABCD">
            <td colspan="12"><b>सुतावणी आधीचे कर विवरण</b></td>
        </tr>
        <tr class="sub-header green">
            <th rowspan="2">मालमत्ता कर</th>
            <th colspan="3">शिक्षण कर</th>
            <th rowspan="2">रो.ह.रो. कर</th>
            <th rowspan="2">दूध कर</th>
            <th rowspan="2">पर्यावरण कर</th>
            <th rowspan="2">उपयोगकर्ता शुल्क व इतर</th>
            <th rowspan="2">दिवाळी कर</th>
            <th rowspan="2">अभिसरण कर</th>
            <th rowspan="2">एकूण कर</th>
        </tr>
        <!-- Second Header Row -->
        <tr class="sub-header">
            <th>निवासी</th>
            <th>अनिवासी</th>
            <th>एकूण</th>
        </tr>

        <!-- Data Row -->
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <p class="k1">
        <b> श्री/श्रीमती. माणिकगड सिमेंट कंपनी(कंपनी परिसर, औद्योगिक क्षेत्र,(कोळसा/जिप्सम/पोझोलोना गॅन्ट्री)सन २०२४-२५ ते २०२७-२८.</b> या काळाकरिता प्रसिद्ध करण्यात आलेल्या कर निर्धारण यादीतील यांच्या मालमत्तेच्या कर निर्धारणावर दि. 09-02-2024 रोजी आक्षेप/हरकत घेतली होती. आज दि. 11-06-2024 रोजी आक्षेप/हरकत अर्ज विचारात घेण्यात आला आक्षेप/हरकत घेणाऱ्याने स्वतः / अभिकर्त्यामार्फत बाजू मांडली.
    </p>
    <p>
        <b >अर्जदाराने आक्षेप/हरकत नोंदविलेल्या खालील बाबी विचारात घेण्यात आल्या.</b>
        <b>अर्जात नमूद असलेल्या बाबीः १. मालमत्तेचे क्षेत्रफळ चुकीचे दर्शविण्यात आलेले आहे.</b> २. बांधकाम दर्जा चुकीचा दर्शविलेला आहे. ३. विशिष्ट बांधकाम दज्यर्थ्याचे क्षेत्रफळ चुकीचे दर्शविले आहे. ४. मालमत्तेचा वापर चुकीचा दर्शविला आहे. ५. मालमत्तेचे वय चुकीचे दर्शविले आहे. ६. भाडेकरू वास्तव्यास नाही. ७. मालमत्तेतील विशिष्ट भाडेकरूचे वापरातील क्षेत्रफळ चुकीचे दर्शविण्यात आलेले आहे. ८. विशिष्ट भाडेकरूचे भाडे चुकीचे दर्शविण्यात आलेले आहे. ९. मजल्यांची संख्या चुकीची दर्शविण्यात आलेली आहे. १०. खोल्यांची संख्या चुकीची दर्शविण्यात आलेली आहे. ११. मोजमाप बरोबर घेण्यात आलेले नाही. १२. कर खूप जास्त लावण्यात आलेला आहे. १३. मालमत्ता रिकामी आहे. १४. मालमत्ता सामान्य स्थितीत नाही संपवण्याच्या स्थितीत आहे. १५. मालकाचे नाव चुकीचे दर्शविण्यात आलेले आहे. १६. मालमत्तेचा संपूर्ण निवासी वापर आहे. १७. मालमत्तेचा वाणिज्यिक वापर आहे. १८. Objection
    </p>
    <div class="notice">
        <p><strong>अर्जदाराने प्रत्यक्षात मांडलेल्या बाबीः-</strong> ........................................................................................................................................................................................................................................................................................................................<br></p></div>
    <div class="dotted-line"></div><br>
    <div class="dotted-line"></div><br>
    <div class="dotted-line"></div><br>


    <div class="signature-section">
        <div class="left-text">मूल्य निर्धारण अधिकारी यांचे सही:-</div>
        <div class="right-text">मालमत्ता धारक/अधिकाऱ्यांची सही</div>
    </div>

    <div class="dotted-line"></div><br>
    <div class="dotted-line"></div><br>



    <p><b>वरील बाबी विचारात घेऊन खालील प्रमाणे कर निर्धारण दर्शविण्यात येत आहे.</b></p>

    <table class="valuation-table">
        <thead>
        <tr>
            <th colspan="15" class="title">सुनावणी आयोगाने ठरविलेल्या दराने भूमी मूल्य</th>
        </tr>

        <div class="highlight">
            <tr>
                <th rowspan="2">निवासी </th>
                <th rowspan="2"> वाणिज्य </th>
                <th rowspan="2"> धार्मिक</th>
                <th colspan="6">खुला भूखंड</th>
                <th rowspan="2">शैक्षणिक व वैद्यकीय संस्था</th>
                <th rowspan="2">शासकीय </th>
                <th rowspan="2">औद्योगिक</th>
                <th rowspan="2">मोबाईल टॉवर</th>
                <th rowspan="2">इलेक्ट्रिक सब-स्टेशन</th>
                <th rowspan="2">एकूण करयोग्य मूल्य</th>
            </tr>

            <tr class="pink">
                <th>निवासी </th>
                <th> वाणिज्य </th>
                <th>  धार्मिक</th>
                <th>श्री.व.श्री.</th>
                <th>भारतीय </th>
                <th> औद्योगिक</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

        </tr>
        </tbody>
    </table>


    <p>सुधारित युना मा. क्र.: <input type="text" class="input-line" /></p>
    <p>सुधारित नाव: <input type="text" class="input-line" /></p>
    <p>दिनांक: _____/____/2024</p>

    <div class="centered-text">
        प्राधिकृत मूल्यनिर्धारण अधिकारी, <span class="councilName"></span><br>
        तसेच <br>
        नगर रचनाकार, नगर रचना कार्यालय चंद्रपूर
    </div>

</div>
</body>
<script src="/3GViewOrderSheet/js/scripts.js"></script>
</html>
