<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="../public/images/lakhandurlogo.jpeg" type="image/x-icon">
    <style>
        body{
            font-size: 11px;
            font-family:  Arial Unicode MS;
        }

        table {
            width: 100%;
        }
        .bluecolor {
            background-color: #ccffff;
        }
        .text-bold {
            font-weight: bold;
        }

        .pagebreak
        {
            page-break-after: always;
        }
       #headingDiv, #imgDiv {
			    display: inline-block;
			}

			@media  print {
			  .getbreak {page-break-before: always;}
			}
    </style>
</head>
<body>

  <!-- Dual logos header -->
  <header style="display:flex; align-items:center; justify-content:space-between; margin:8px 0;">
    <img class="councilLogoLeft" alt="Left Council Logo" style="height:60px; width:60px; object-fit:contain;" />
    <div class="councilName" style="text-align:center; font-weight:bold; font-size:16px;"></div>
    <img class="councilLogoRight" alt="Right Council Logo" style="height:60px; width:60px; object-fit:contain; display:none;" />
  </header>

    <div style="margin: 10px; text-align: right;">
        <button id="btnPrint">🖨️ Print</button>
        <button id="btnSavePDF">📄 Save as PDF</button>
    </div>
<table>
    <tbody>
    <tr><td cellspacing="0" colspan="2" style="text-align:center;"><b style="font-size:20px; margin-left: 8px;color:#ff1503;">नगर पंचायत कार्यालय, लाखनी, जि. भंडारा</b></td></tr>
    <tr>
        <td cellspacing="0" colspan="2" style="text-align: center; font-size: 15px; color: #06b154;"><span
                style="border-bottom:1px solid;">आक्षेप नोंदणी रजिस्टर</span></td>
    </tr>
    <tr>
        <td cellspacing="0" colspan="2" style="text-align: center; font-size: 10px;">(महाराष्ट्र नगर परिषद, नगर पंचायती
            व औद्योगिक नगरी अधिनियम १९६५ चे कलम ११९(२) अन्वये)
        </td>
    </tr>
    </tbody>
</table>
<table frame="border" rules="all" style="text-align: center;margin-top:1px;">
    <tbody>
    <tr class="bluecolor  text-bold">
        <td>अनु. क्र.</td>
        <td style="width:8%;">आक्षेप क्र.
            <hr style="margin:0px !important; ">
            आक्षेप दिनांक
            <hr style="margin:0px !important; ">
            अर्ज क्र.
        </td>
        <td>वार्ड क्र.</td>
        <td style="width:8%;">नविन मालमत्ता क्र.
            <hr style="margin:0px !important;">
            जुना मालमत्ता क्र.
            <hr style="margin:0px !important; ">
            सर्व्हे मालमत्ता क्र.
        </td>
        <td style="width:20%;">मालकाचे नाव
            <hr style="margin:0px !important; ">
            अर्जदाराचे नाव
        </td>
        <td style="width:55%;">आक्षेपाची कारणे</td>
    </tr>

    <tr style="background-color: #fde9d9;">
        <td>१</td>
        <td>२</td>
        <td>३</td>
        <td>४</td>
        <td>५</td>
        <td>६</td>
    </tr>
    <tr class="">
        <td>1</td>
        <td>1
            <hr style="margin:0px !important; ">
            05-05-2025
            <hr style="margin:0px !important; ">
            1
        </td>
        <td>5</td>
        <td>050063
            <hr style="margin:0px !important;">
            188
            <hr style="margin:0px !important;">
            0045/0001
        </td>
        <td>लाकेश्वर मणिकराव बोरसारे, सुनील दामोधरबापु खेडीकर
            <hr style="margin:0px !important;">
            लाकेश्वर मणिकराव बोरसारे
        </td>
        <td align="justify" style="width:40%;padding:5px;">
            १. मालकाचे नाव चुकीचे दर्शविण्यात आलेले आहे.
        </td>
    </tr>


    <tr class="">
        <td>2</td>
        <td>2
            <hr style="margin:0px !important; ">
            06-05-2025
            <hr style="margin:0px !important; ">
            2
        </td>
        <td>15</td>
        <td>150058
            <hr style="margin:0px !important;">
            650
            <hr style="margin:0px !important;">
            0046
        </td>
        <td>गणेश गणपतराव पंचभाई, सौ शामकला
            <hr style="margin:0px !important;">
            गणेश गणपतराव पंचभाई
        </td>
        <td align="justify" style="width:40%;padding:5px;">
            १. कर खूप जास्त लावण्यात आलेला आहे. ●२. नवीन tax प्रणालीला आमचा आक्षेप आहे.योग्य ते tax भाडे लावण्यात यावे.
        </td>
    </tr>


    </tbody>
</table>


<iframe frameborder="0" scrolling="no" style="background-color: transparent; border: 0px; display: none;"></iframe>
<div id="GOOGLE_INPUT_CHEXT_FLAG" input=""
     input_stat="{&quot;tlang&quot;:true,&quot;tsbc&quot;:true,&quot;pun&quot;:true,&quot;mk&quot;:true,&quot;ss&quot;:true}"
     style="display: none;"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/3gviewObjectionSheet/js/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

</body>
</html>

