<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>आक्षेप अर्ज</title>
    <link rel="shortcut icon" href="/public/images/aherilogo.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="/3GViewObjectionReciept/css/styles.css" rel="stylesheet">
</head>
<body>

<div class="print">
    <div id="mainDiv">
        <form id="objectionForm" name="objectionForm" style="border: 1px solid darkgrey;">
            <div id="headingDiv" style="text-align:center;font-size:26px;margin-top:15px;">
                <b>आक्षेप अर्ज</b>
            </div>

            <div id="secondDiv" class="font-14 margin-t-5">
                <table>
                    <tr><td>प्रति,</td></tr>
                    <tr><td>मुख्याधिकारी,</td></tr>
                    <tr><td class="councilLocalName">,</td></tr>
                    <tr><td>ता. <span class="localSiteNameVC"></span>, जि. <span class="localDistrictNameVC"></span></td></tr>
                </table>
            </div>

            <div id="thirdDiv" class="font-14 margin-t-5">
                अर्जदाराचे नाव:- <span style="border-bottom: 1px solid darkgrey;font-weight:bold;">तेजराम लक्ष्मणजी श्रीरसागर</span><br><br>
                विषय:- मालमत्ता कर आकारणी बद्दल आक्षेप अर्ज
            </div>

            <div id="fourthDiv" class="font-14 margin-t-5">
                <p align="justify">
                    महोदय<br><br>
                    आम्ही/मी/माझे आशिल <span style="border-bottom: 1px solid darkgrey;font-weight:bold;" >तेजराम लक्ष्मणजी श्रीरसागर</span> <span class="councilLocalName"></span> हद्दीतील रहिवासी असून <span class="councilLocalName"></span> हद्दीत माझी/माझे आशिलाची स्वतःच्या मालकीची/भाड्याची मालमत्ता आहे. त्याचा तपशील खालील प्रमाणे.
                </p>
            </div>

            <div id="fifthDiv" class="font-14">
                <table style="width:100%" frame="border" rules="all">
                    <tr style="background-color:#f2dbdb;" class="t-c">
                        <th>वार्ड क्र.</th>
                        <th>झोन क्र.</th>
                        <th>सर्वे क्र.</th>
                        <th>नविन मालमत्ता क्र.</th>
                        <th>जुना वार्ड क्र.</th>
                        <th>जुना झोन क्र.</th>
                        <th>जुना मालमत्ता क्र.</th>
                        <th>मालमत्ता क्र.</th>
                    </tr>
                    <tr class="h-25 t-c">
                        <td>1</td>
                        <td>3</td>
                        <td>0139</td>
                        <td>010356</td>
                        <td></td>
                        <td></td>
                        <td>2845/1</td>
                        <td></td>
                    </tr>
                </table>
            </div>

            <p align="justify" style="margin-top:10px;" class="padding-10">
                <span id="mainpara">
                    <span class="councilLocalName"></span> तर्फे प्रसिद्ध करण्यात आलेली सन २०२५-२६ ते २०२८-२९ च्या प्रस्तावित चतुर्थ वार्षिक कर मुल्यांकन यादी तसेच <span class="councilLocalName"></span> तर्फे मला/माझे अशिलाला तामील करण्यात आलेली कर मुल्य निर्धारणाची विशेष नोटीस (सूचना) क्र.
                    <span style="border-bottom: 1px solid darkgrey;">W01_0356</span> दिनांक <span style="border-bottom: 1px solid darkgrey;">16-04-2025</span> ला प्राप्त झालेली तपासली असता माझ्या/माझे अशिलाच्या मालमत्तेचे न.प. तर्फे करण्यात आलेले मुल्य निर्धारण मला योग्य वाटत नाही. त्या नोटीस मध्ये नमूद असलेले वार्षिक कर योग्य मुल्य रु.
                    <span style="border-bottom: 1px solid darkgrey;font-weight:bold;">12992</span> व वार्षिक कर रु.
                    <span style="border-bottom: 1px solid darkgrey;font-weight:bold;">3898</span>
                    <span id="lastpara"> मला/माझे अशिलाला मान्य नाही.</span>
                </span>
            </p>

            <div style="height:auto;" class="padding-10">
                <b>कारण:-</b><br>
                १. मालमत्तेचे वय चुकीचे दर्शविले आहे.<br>
                २. मोजमाप बरोबर घेण्यात आलेले नाही.<br>
            </div>

            <p><b>आक्षेपाची वरील व्यतिरिक्त कारणे:-</b></p>
            <div id="usercomments" style="height:auto;">
                मला नवीन कर आकारणी मान्य नाही पुन्हा मोजणी करून देण्यात यावी
            </div>

            <div id="lastDiv" style="margin-bottom:15px;margin-top:20px;">
                <table style="width:100%;">
                    <tr>
                        <td style="width:7%;">दिनांक:- </td>
                        <td align="left">16-05-2025</td>
                    </tr>
                    <tr>
                        <td style="width:7%;">वेळ:- </td>
                        <td align="left">13:10 PM</td>
                    </tr>
                    <tr>
                        <td style="width:7%;">स्थळ:-</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="width:7%;">अर्ज क्र.:-</td>
                        <td align="left">425</td>
                        <td style="width:50%; text-align: right;">आक्षेपकर्त्याची स्वाक्षरी</td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-6" align="center">
        <button onclick="printOut('print')" class="btn btn-primary">Print</button>
    </div>
    <div class="col-md-6" align="center">
        <div class="form-group">
            <a href="#" onclick="cancelsearch()" id="back" class="btn btn-success">Back</a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/3GViewObjectionReciept/js/scripts.js"></script>
</body>
</html>
