<!DOCTYPE html>
<html lang="mr">
<head>
    <meta charset="UTF-8">
    <title>Order Sheet</title>
    <link rel="stylesheet" href="/3GViewOrderSheet/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
        body, p, div, span ,b{
        font-family: 'Noto Sans Devanagari', 'Arial Unicode MS', sans-serif;
        font-feature-settings: "liga", "clig";
        word-break: keep-all !important;
        white-space: normal !important;
        overflow-wrap: normal !important;
        line-height: 1.7;
        }


        .k1 {
        font-family: 'Noto Sans Devanagari', 'Arial Unicode MS', sans-serif;
        text-align: justify;
        line-height: 1.8;
        text-indent: 40px;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: normal;
        word-break: keep-all;
        white-space: normal;
        overflow-wrap: normal;
        }


        .k1 b {
        font-weight: 700;
        }
    </style>
</head>
<body style="font-family:  Arial Unicode MS;">

<button id="printBtn" style="
  padding:6px 12px;
  background:#007bff;
  color:white;
  border:none;
  border-radius:4px;
  cursor:pointer;
  font-weight:600;
  margin:10px;
">
    🖨️ Print
</button>

<div class="container">


    <div  class="header">
        <img class="councilLogoLeft" src="https://example.com/default-image.png" alt="Council Logo Left" />
        <h1 class="center-title"><span class="councilName"></span>, <br> कार्यालय जि. <span class="localDistrictNameVC"></span></h1>
        <img class="councilLogoRight" alt="Council Logo Right"  /> </div>


    <div class="subtext">
        <b> सन <span class="yearRange"></span> या कार्यकालात कर थकबाकीवर कर मूळ व कर आकारणी बाबत जोडले प्रश्न<br></b>
        <span class="highlight"><b>महाराष्ट्र नगर परिषद, नगर पंचायत व औद्योगिक नागरी अधिनियम १९६५ चे कलम १२० प्रमाणे कार्यवाही</b></span>
    </div>


    <div class="aadesh-patra">
        <h1 class="center-title">आदेश पत्र</h1>

    </div>




    <!-- Header Table -->
    <table>
        <tr class="table1">
            <td>अक्षेप क्रमांक</td>
            <td>वार्ड क्र.</td>
            <td>झोन क्र.</td>
            <td>नविन मालमता क्र.</td>
            <td>सर्वे मालमता क्र.</td>
            <td>जुना मालमता क्र.</td>
            <td>सुनावणीची तारीख</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

    </table>

    <!-- कर योग्य मूल्य Table -->
    <!-- <h3 class="tight-heading"><b>सुतावणी आधीचे कर योग्य मूल्य</b></h3> -->
    <table>
        <tr>
            <th colspan="15" style="text-align: left; background-color: rgb(233, 252, 147);">सुतावणी आधीचे कर योग्य मूल्य</th>
        </tr>
        <th rowspan="2">निवासी </th>
        <th rowspan="2">वाणिज्य </th>
        <th rowspan="2">धार्मिक</th>
        <th colspan="6">खुला भूखंड</th>
        <th rowspan="2">शैक्षणिक व वैद्यकीय संस्था</th>
        <th rowspan="2">शासकीय </th>
        <th rowspan="2">औद्योगिक</th>
        <th rowspan="2">मोबाईल टॉवर</th>
        <th rowspan="2">इलेक्ट्रिक सब-स्टेशन</th>
        <th rowspan="2">एकूण करयोग्य मूल्य</th>
        </tr>
        <tr>
            <th>निवासी </th>
            <th>वाणिज्य </th>
            <th>धार्मिक</th>
            <th>श्री.व श्री.</th>
            <th>भारतीय </th>
            <th> औद्योगिक</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="residentialFl"></td>
            <td class="commercialFl"></td>
            <td class="religiousFl"></td>
            <td class="residentialOpenPlotFl"></td>
            <td class="commercialOpenPlotFl"></td>
            <td class="religiousOpenPlotFl"></td>
            <td class="educationalInstituteOpenPlotFl"></td>
            <td class="governmentOpenPlotFl"></td>
            <td class="industrialOpenPlotFl"></td>
            <td class="educationAndLegalInstituteOpenPlotFl"></td>
            <td class="governmentFl"></td>
            <td class="industrialFl"></td>
            <td class="mobileTowerFl"></td>
            <td class="electricSubstationFl"></td>
            <td class="aggregateFl"></td>                 <!--Chane by Anand-->
        </tr>
        </tbody>
    </table>

    <!-- सुतावणी आधीचे कर विवरण (dynamic like Special Notice) -->
    <div class="styled-table total-section">
        <!-- <h3 class="tight-heading">सुतावणी आधीचे कर विवरण:</h3> -->
        <table id="orderSheetBeforeTaxTable"></table>
    </div>
    <div>
        <p class="k1">
            <b>श्री/श्रीमती. <span class="ownerName">संपत हिरालाल रायकार</span></b> यांनी सन <b><span class="yearRange">२०२५-२०२६ ते २०२८-२०२९</span></b>
            या काळाकरिता प्रसिद्ध करण्यात आलेल्या कर निर्धारण यादितील त्यांच्या मालमत्तेच्या कर निर्धारणावर दि. <span class="objectionDate">१२-०९-२०२५</span> रोजी आक्षेप/हरकत घेतली होती. आज दि. <span class="hearingDate">२५-०९-२०२५</span> रोजी आक्षेप/हरकत अर्ज विचारात घेण्यात आला आक्षेप/हरकत घेणाऱ्याने स्वतः / अभिकर्त्यामार्फत बाजू मांडली.
        </p>
    </div>

    <p>
        <b >अर्जदाराने आक्षेप/हरकत नोंदविलेल्या खालील बाबी विचारात घेण्यात आल्या.</b>
        <b>अर्जात नमूद असलेल्या बाबीः- </b> <span class="reasons"></span>
    </p>
    <div class="notice">
        <p><strong>अर्जदाराने प्रत्यक्षात मांडलेल्या बाबीः-</strong><br><br></p></div>
    <div class="dotted-line"></div><br>
    <div class="dotted-line"></div><br>
    <div class="dotted-line"></div><br>
    <div class="dotted-line"></div><br>


    <div class="signature-section">
        <div class="left-text">मूल्य निर्धारण अधिकारी यांचे शेरा:-</div>
        <div class="right-text">मालमत्ता धारक/अधिकाऱ्यांची सही</div>
    </div>

    <div class="dotted-line"></div><br>
    <div class="dotted-line"></div><br>



    <p><b>वरील बाबी विचारात घेऊन खालील प्रमाणे कर निर्धारण दर्शविण्यात येत आहे.</b></p>

    <table class="valuation-table">
        <thead>
        <tr>
            <th colspan="15" class="title">सुनावणी आयोगाने ठरविलेल्या दराने भूमी मूल्य</th>
        </tr>

        <div class="table4">
            <tr>
                <th rowspan="2">निवासी </th>
                <th rowspan="2">वाणिज्य </th>
                <th rowspan="2">धार्मिक</th>
                <th colspan="6">खुला भूखंड</th>
                <th rowspan="2">शैक्षणिक व वैद्यकीय संस्था</th>
                <th rowspan="2">शासकीय </th>
                <th rowspan="2">औद्योगिक</th>
                <th rowspan="2">मोबाईल टॉवर</th>
                <th rowspan="2">इलेक्ट्रिक सब-स्टेशन</th>
                <th rowspan="2">एकूण करयोग्य मूल्य</th>
            </tr>

            <tr class="pink">
                <th>निवासी </th>
                <th> वाणिज्य </th>
                <th>  धार्मिक</th>
                <th>श्री.व.श्री.</th>
                <th>भारतीय </th>
                <th> औद्योगिक</th>
            </tr>
        </thead>
        <tbody>
        <tr >
            <td style="height: 30px;"></td>
            <td style="height: 30px;"></td>
            <td style="height: 30px;"></td>
            <td style="height: 30px;"></td>
            <td style="height: 30px;"></td>
            <td style="height: 30px;"></td>
            <td style="height: 30px;"></td>
            <td style="height: 30px;"></td>
            <td style="height: 30px;"></td>
            <td style="height: 30px;"></td>
            <td style="height: 30px;"></td>
            <td style="height: 30px;"></td>
            <td style="height: 30px;"></td>
            <td style="height: 30px;"></td>
            <td style="height: 30px;"></td>

        </tr>
        </tbody>
    </table>


    <p>सुधारित युना मा. क्र.: <input type="text" class="input-line" /></p>
    <p>सुधारित नाव: <input type="text" class="input-line" /></p>
    <p>दिनांक: _____/____/2024</p>

    <div class="centered-text">
        प्राधिकृत मूल्यनिर्धारण अधिकारी, <span class="councilName"></span><br>
        तसेच <br>
        नगर रचनाकार, नगर रचना कार्यालय <span class="localDistrictNameVC"></span><br>
    </div>

</div>
</body>
<script src="/3GViewOrderSheet/js/scripts.js"></script>
<script src="/3GViewOrderSheet/js/override-proposed.js"></script>
</html>
